<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="estilo/liquido.css">
</head>
<body>
    <div class="container">
        <div id="marca"><h1>Marca</h1></div>
        <div id="conteudo">
            <div id="conteudo-principal">
                <h2>Conteúdo Principal</h2>
                <img src="imagens/natureza.jpg" alt="Imagem da natureza" class="imagem-noticia">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium tempore non esse at dolore vel labore sapiente ab atque aut autem quaerat magnam sint reiciendis quos soluta cum, tenetur laudantium! Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur aut est nesciunt atque vitae. Nihil, earum asperiores rem sed, cupiditate laudantium quos atque praesentium, cumque beatae sit accusantium hic! Nam?</p>
            </div>
            <div id="conteudo-secundario">
                <h2>Conteúdo Secundário</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil doloribus, corporis harum autem quas quisquam molestias, est praesentium nemo fugit dolorum ducimus obcaecati laborum pariatur neque optio eius voluptatibus labore?</p>
            </div>
        </div>
        <div id="navegacao">
            <ul>
                <li>Home</li>
                <li>Sobre</li>
                <li>Notícias</li>
                <li>Produtos</li>
                <li>Serviços</li>
            </ul>
        </div>
        <div id="rodape">Rodapé</div>
    </div>
</body>
</html>