* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #fff url(imagens/fundo.png) repeat-x;
}

.container {
    width: 780px;
    margin: 0 auto;
}

#topo {
    height: 150px;
    background: url(imagens/detalhe-topo.png) no-repeat right top;
    padding-top: 25px;
}

.logo {
    width: 152px;
    height: 66px;
    background: url(imagens/logo.png) no-repeat center;
    text-indent: -3000px;
}

/* Barra de Navegação */

a:link, a:visited {
    color: #b10333;
    padding: 2px;
}

a:hover {
    color: #e50040;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#topo ul {
    float: left;
    margin-top: 30px;
    background: #b10333;
}

#topo ul li {
    float: left;
}

#topo ul li a {
    text-decoration: none;
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2.1em;
    color: #fff;
    background: url(imagens/divisor.png) no-repeat left center;
}

#topo ul .primeiro a {
    background: none;
}

#topo ul a:hover {
    color: #69001d;
}

#topo ul .atual a {
    color: #fff;
    background-color: #de033e;
    cursor: text;
}

/* Layout de 3 Colunas */

#conteudo {
    background-color: #f5f5f5;
    margin-top: 60px;
}

#lateral {
    float: left;
    width: 180px;
    margin: 0 0 20px -780px;
}

#primario {
    float: left;
    width: 285px;
    margin: 0 0 20px 195px;
}

#duas-colunas #primario {
    width: 570px;
}

#uma-coluna #primario {
    width: 780px;
    margin: 0 0 20px 0;
}

#secundario {
    float: left;
    width: 285px;
    margin: 0 0 20px 15px;
}

/* Caixa */

.caixa {
    background: #f3f3f3 url(imagens/fundo-caixa.png);
    margin: 10px 0;
    padding: 5px;
}

h2 {
    font-size: 1em;
    background-color: #294c71;
    color: #fff;
    padding: 5px;
}

.caixa-conteudo {
    background: #fff;
    padding: 5px;
    margin-top: 5px;
}

/* Menu Lateral */

#lateral ul a {
    display: block;
    font-size: 0.9em;
    color: #000;
    padding: 3px;
    line-height: 30px;
    text-decoration: none;
    border: 1px bottom #f3f3f3;
}

#lateral ul a:hover {
    background: #f9f9f9 url(imagens/marcador.png) no-repeat left center;
    padding-left: 20px;
    color: #a1a1a1;
}

/* Formulários */

label {
    display: block;
    cursor: pointer;
}

input {
    padding: 5px;
    width: 125px;
    font-size: 0.9em;
    background-color: #fff;
}

input.submit {
    width: 80px;
    color: #fff;
    background-color: #b10333;
    border: 2px solid #870529;
    padding: 5px;
}

/* Imagens */

img {
    border: 2px solid #dfdfdf;
}

/* Cabeçalhos */

h3 {
    text-transform: uppercase;
    display: inline;
    font-size: 0.8em;
    padding: 3px;
}

.destaque h3 {
    background-color: #b10333;
    color: #fff;
}

.entrevista h3 {
    background-color: #de003e;
}

/* Lista de Notícias */

#lista-noticias li {
    padding: 2px;
    border-bottom: 1px solid #ccc;
    height: 62px;
}

#lista-noticias li a {
    text-decoration: none;
}

#lista-noticias li a h3 {
    font-size: 0.8em;
    padding: 0px;
    color: #3e7ab9;
}

#lista-noticias li a p {
    font-size: 0.7em;
}

#lista-noticias li:hover {
    background: #eee;
    cursor: pointer;
}

#lista-noticias li a img{
    float: left;
    margin: 5px;

}

/* Rodapé */

#container-rodape {
    background-color: #294c71;
    padding: 20px;
}

#rodape {
    width: 780px;
    margin: 0 auto;
    color: #fff;
}